{% extends "base.html" %}
{% block content %}

    <h1>{{month}}, {{year}} </h1>
    {% if not data %}
        <p>No entries this month</p>
    {% else %}
    <p>Total spent: R${{ total_expense }}</p>
    <p>Total incomes: R${{ total_income }}</p>
    <p>{{ savings_message }}</p>
    {% endif %}

    <div style="width:40%;">
        <canvas id="pie-chart"></canvas>
    </div>

    <h3>{{month}} expenses</h3>
    <ul>
    {% for e in month_expenses %}
        <li><a href="{% url 'finances:detail' e.id %}">{{e.name}}</a>: R${{e.amount}} - at day {{e.date.day}}</li>
    {% endfor %}
    </ul>

    <h3>{{month}} incomes</h3>
    <ul>
    {% for i in month_incomes %}
        <li><a href="{% url 'finances:detail' i.id %}">{{i.name}}</a>: R${{i.amount}} - at day {{i.date.day}}</li>
    {% endfor %}
    </ul>

    <h3>Categories</h3>
    <div style="width:40%;">
        <canvas id="bar-chart"></canvas>
    </div>
    <ul>
    {% for name, amount in categories_dict.items %}
        <li>{{name}}: R${{amount}}</li>
    {% endfor %}  
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        new Chart(document.getElementById('pie-chart').getContext('2d'), {
            type: 'doughnut',
            data: {
                datasets: [{
                    label: 'Total',
                    data: {{ data|safe }},
                    backgroundColor: [ '#109CF1', '#F7685B', '#2ED47A' ],
                }],
                labels: {{ labels|safe }}
            },
            options: { responsive: true }
        });

        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                datasets: [{
                    label: "Total spent",
                    data: {{ categories_amount|safe }},
                    backgroundColor: {{ background_colors|safe }},
                }],
                labels: {{ categories_names|safe }},
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Total spent in each category'
                },
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                }
            }
        });

    </script>

{% endblock %}