{% extends "base.html" %}
{% block content %}

    <h1>{{month}}, {{year}} </h1>
    <div class="container-flex">
        <div class='month-card'>
            <div class="chart" style="width:100%;">
                <canvas id="pie-chart"></canvas>
            </div>
            {% if not data %}
                <p>No entries this month</p>
            {% else %}
                <p><i class="material-icons icon-spent">arrow_upward</i> Spent <span> R$ {{ total_expense }}</span></p>
                <p><i class="material-icons icon-income">arrow_downward</i> Incomes <span> R$ {{ total_income }}</span></p>
                <p><i class="material-icons icon-save">attach_money</i>{{ savings_message }}</p>
            {% endif %}
        </div>
        <div class="month-card">
            <h3>Categories</h3>
            <div style="width:100%;">
                <canvas id="bar-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="container-flex">
        <div>
            <div class="card-flex">
                <h2>{{month}} expenses</h2>
                <ul>
                {% for e in month_expenses %}
                    <li>{{e.name}}</a>:<span> R${{e.amount}}</span> <span class="card-date"> {{e.date}}</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <div class="card-flex">
                <h2>{{month}} incomes</h2>
                <ul>
                {% for i in month_incomes %}
                    <li>{{i.name}}</a>:<span> R${{i.amount}}</span> <span class="card-date"> {{i.date}}</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        new Chart(document.getElementById('pie-chart').getContext('2d'), {
            type: 'doughnut',
            data: {
                datasets: [{
                    label: 'Total',
                    data: {{ data|safe }},
                    backgroundColor: [ '#109CF1', '#F7685B', '#2ED47A' ],
                }],
                labels: {{ labels|safe }}
            },
            options: { responsive: true }
        });

        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                datasets: [{
                    label: "Total spent",
                    data: {{ categories_amount|safe }},
                    backgroundColor: {{ background_colors|safe }},
                }],
                labels: {{ categories_names|safe }},
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Total spent in each category'
                },
                scales: {
                    yAxes: [{
                        ticks: { beginAtZero: true }
                    }]
                }
            }
        });

    </script>

{% endblock %}