<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block title %}<title>Finances</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'finances/style.css' %}">
</head>
<body>
    <header>
        <div>
            {% load static %}
            <img src="{% static "finances/images/calculator.svg" %}"> 
            <p>Little pig</p>
        </div>
        <a href="{% url 'finances:new_entry' %}"><button>Add new entry</button></a>
    </header>
    <div class='container'>
    {% block content %}{% endblock %}
    </div>
</body>
</html>