<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block title %}<title>Finances</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'finances/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="{% url 'finances:index' %}">
                {% load static %}
                <img src="{% static "finances/images/calculator.svg" %}"> 
                <p>Kinko</p>
            </a>
        </div>
        <a href="{% url 'finances:new_entry' %}"><button>Add new entry</button></a>
    </header>
    <div class='container'>
    {% block content %}{% endblock %}
    </div>
</body>
</html>